@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  position: relative;
  height: 100%;
  font-size: 10px;
}

body {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
}

 {
  /* BS */
}
.introSec__info--title::after {
  position: absolute;
  top: 100%;
  right: 0px;
  content: "";
  width: 30.134rem;
  height: 5px;
  background-image: linear-gradient(to right, #008aa6, #000000);
}
